.project {
  text-align: center;
  margin: 20px;
}

.header {
  display: flex;
  justify-content: space-around;

  /* margin-left: 20px; */
}

.button {
  border-radius: 5px;
  margin-top: 20px;
  background-color: #e18ae6;
  width: 150px;
  margin-left: 34px;
}

.button p {
  color: rgb(85, 81, 81);
  font-weight: bold;
}

h4 {
  color: gray;
  font-size: 100px;
  margin-right: 650px;
}

p {
  color: gray;
}

.projectchild {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.card {
  margin-top: 150px;
  width: 500px;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.card p {
  margin-top: 10px;
}
