.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #0f0f0f;

}

.container {
    display: flex;
    flex-direction: row;
  
}

svg {
    height: 50px;
    padding: 50px;
    fill: #a3a3a3;
    transition: fill 0.2s;
    cursor: pointer;
}

svg:hover {
    fill: #e28ae6;
}

p {
    color: #494136;
}