.about {
  display: flex;
  flex-direction: row;
}

.header {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
}

.button {
  border-radius: 5px;
  margin-top: 40px;
  background-color: #e18ae6;
  width: 150px;
  margin-left: 34px;
}

.button p {
  color: rgb(85, 81, 81);
  font-weight: bold;
}

.skill {
  height: 100vh;
}

.skillsvg {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
  margin-top: 70px;
}

.text {
  color: gray;
}

/* .svg {
  height: 100px;
  padding: 80px;
  fill: #a3a3a3;
  transition: fill 0.2s;
  cursor: pointer;
}

.svg:hover {
  fill: #e28ae6;
} */

.icon {
  font-size: 170px;
  color: gray;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #e28ae6;
}
